@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

*{
  font-size: large;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  transition: all 1s ease 0s;
}

h1 {
  display: flex;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.795);
  cursor:default;
  transition: all .3s ease 0s;
 }
 

h1:hover{
  color: rgba(214, 79, 56, 0.856);
  transition: all .3s ease 0s;
}

h2{
  cursor:default;
  color: rgba(255, 255, 255, 0.938);
  transition: all .3s ease 0s;
  font-size: 25px;
}

h2:hover{
  transition: all .3s ease 0s;
}

p{
  text-align: center;
  font-weight: 100;
  cursor:default;
  color: rgba(230, 230, 230, 0.808);
  transition: all .3s ease 0s;
}

p:hover{
  color: rgba(214, 79, 56, 0.856);
  transition: all .3s ease 0s;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
 }
 
 body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/static/images/wallpaper.gif") no-repeat center center;
  background-size: 100%;
  filter: blur(10px);
  z-index: -1;
 }
 

.wrapper{
  width: 60vh;
  height: 100vh;
  align-items: center;
  position: fixed;
  background: rgba(56, 91, 100, 0.301);
  color: azure;
  padding: 5px 5px;
  border: 2px solid rgba(156, 255, 247, 0.068);
  border-radius: 5px;
  text-align: center;
  transition: all .6s ease 0.3s;
}

.wrapper:hover{
  background: rgba(107, 127, 146, 0.212);
  transition: all .3s ease 0s;
  width: 120vh;
}

.home{
  height: 100vh;
  width: 50vh;
  align-content: center;
  transition: all .6s ease 0s;
}

.home:hover{
  background: rgba(107, 127, 146, 0.212);
  transition: all .3s ease 0s;
  width: 120vh;
}

button{
    color: #f2fdffdc;
    border-radius: 40px;
    cursor: pointer;
    background: rgba(85, 85, 85, 0.808);
    transition: all .3s ease 0s;
    font-weight: 100;
}

.box button:hover{
  background: rgba(32, 32, 32, 0.808);
  border-color:  rgba(214, 79, 56, 0.856);
  color: rgba(214, 79, 56, 0.856);
  transition: all 0.3s ease 0s;
  text-align: center;
  cursor:pointer;
}

.letter button{  
  width: 65px ;
  height: 65px;
  text-align: center;
  background: rgba(255, 255, 255, 0.116);
  border: none;
  outline: none;
  border: 3px solid rgba(203, 240, 255, 0.137);
  border-radius: 20%;
  margin: 4px;
  padding: 5px;
  align-content: center;
}

.menu button{
  width: fit-content;
  height: fit-content;
  text-align: center;
  background: rgba(255, 255, 255, 0.116);
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.534);
  border-radius: 7px;
  margin: 5px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  transition: all .3s ease 0s;
}

.menu button:hover{
  transition: all .3s ease 0s;
}

.box input{
  font-weight: 400;
  width: fit-content;
  height: fit-content;
  color: #fffffff1;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.534);
  border-radius: 40px;
  margin-bottom: 2px;
  transition: all 0.3s ease 0s;
}

.box input:hover{
  background: rgba(32, 32, 32, 0.808);
  border-color:  rgba(214, 79, 56, 0.856);
  color: rgba(214, 79, 56, 0.856);
  padding: 1px 6px 1px 6px;
  transition: all 0.3s ease 0s;
}

input::placeholder{
  color: rgba(236, 236, 236, 0.247);
}

.pendu{
  width: 150px;
  height: 120px;
  text-align: center;
  background: rgba(255, 255, 255, 0.116);
  border: none;
  outline: none;
  border: 2px solid rgba(203, 240, 255, 0.37);
  border-radius: 10%;
  align-content: center;
}

.result-green{
  width: 200px;
  height: 120px;
  border: 2px solid rgba(56, 214, 161, 0.514);
 }

 .result-red{
  width: 200px;
  height: 200px;
  border: 2px solid rgba(214, 80, 56, 0.61);
 }

.align {
  display: flex;
  justify-content: center;
 }

.title {
  color: #000000;
  font-weight: 700;
  font-style: normal;
}

.title.underline {
  text-decoration: underline;
}

.red {
  color: rgba(214, 79, 56, 0.856);
}
.red:hover {
  color: rgba(255, 255, 255, 0.856);
}

.green {
  color: rgba(56, 214, 161, 0.856);
}
.green:hover {
  color: rgba(40, 209, 153, 0.856);
}

.big {
  font-size: 20px;
  font-weight: 600;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.life {
  padding-left: 15px; 
  padding-right: 15px; 
  background: rgba(56, 91, 100, 0.301);
  color: azure;
  border: 2px solid rgba(255, 255, 255, 0.226);
  border-radius: 40px;
  text-align: center;
  cursor: default;
  transition: all .3s ease 0s;
}

.life:hover {
    font-size: 25px;
    transition: all .3s ease 0s;
}

.space {
  margin-left: 7px;
 }
