@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

*{
  font-size: x-large;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  font-weight: 500;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.795);
  transition: all .3s ease 0s;
 }
 

h1:hover{
  color: rgba(214, 79, 56, 0.856);
  cursor:default;
}

h2{
  text-align: center;
  color: rgba(255, 255, 255, 0.938);
}

p{
  text-align: center;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.932);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
 }
 
 body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/static/images/wallpaper.gif") no-repeat center center;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
 }
 

.wrapper{
  width: fit-content;
  background: rgba(56, 91, 100, 0.301);
  color: azure;
  padding: 10px 10px;
  border: 3px solid rgba(255, 255, 255, 0.226);
  border-radius: 10px;
  text-align: center;
  transition: all .3s ease 0s;
}

.wrapper:hover{
  background: rgba(107, 127, 146, 0.212);
}

button{
    color: #f2fdffdc;
    border-radius: 40px;
    cursor: pointer;
    background: rgba(85, 85, 85, 0.808);
    padding: 10px;
    transition: all .3s ease 0s;
    font-weight: 100;
}

.box button:hover{
  background: rgba(32, 32, 32, 0.808);
  border-color:  rgba(214, 79, 56, 0.856);
  color: rgba(214, 79, 56, 0.856);
  cursor:pointer;
}

.box button{
  width: fit-content;
  height: fit-content;
  text-align: center;
  background: rgba(255, 255, 255, 0.116);
  border: none;
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.534);
  border-radius: 40px;
  margin: 2px;
}

.box input{
  font-weight: 400;
  width: fit-content;
  height: fit-content;
  color: #fffffff1;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.534);
  border-radius: 40px;
  margin-bottom: 2px;
  transition: all 0.3s ease 0s;
}

.box input:hover{
  background: rgba(32, 32, 32, 0.808);
  border-color:  rgba(214, 79, 56, 0.856);
  color: rgba(214, 79, 56, 0.856);
}

input::placeholder{
  color: rgba(236, 236, 236, 0.247);
}

.pendu{
  width: 130px;
  height: 100px;
}

.align {
  display: flex;
  justify-content: center;
 }

.title {
  color: #000000;
  font-weight: 700;
  font-style: normal;
}

.title.underline {
  text-decoration: underline;
}

.red {
  color: rgba(214, 79, 56, 0.856);
}

.green {
  color: rgba(146, 214, 56, 0.856);
}

.blue {
  color: blue;
}

.big{
  font-size: xx-large;
}

