{% extends 'layout.html' %}

{% block title %}Joue{% endblock %}

{% block content %}
    <br>    
    <main class="wrapper">
        <h1>Jeu du Pendu</h1>
        <div class="align">
        <p class="big">Utilisateur :</p><h2 class="space">{{playername}}</h2>
        </div>
        <br>    
        <div>
            {% if lifepoint == 5 %}
                <img class="pendu" src="/static/images/5lp.png">
            {% elif lifepoint == 4 %}
                <img class="pendu" src="/static/images/4lp.png">
            {% elif lifepoint == 3 %}
                <img class="pendu" src="/static/images/3lp.png">
            {% elif lifepoint == 2 %}
                <img class="pendu" src="/static/images/2lp.jpg">
            {% elif lifepoint == 1 %}
                <img class="pendu" src="/static/images/1lp.png">
            {% endif %}
        </div>
        <br>
        <span class="life">
                Il vous reste encore <span class="red big">{{lifepoint}}</span> vies
        </span>
        <div>
            <br>
            {% if result == "OUI !" %}
                <p class="green big">{{result}}</p>
            {% elif result == "NON !" %}
                <p class="red big">{{result}}</p>            
            {% else %}
                <p>Instructions : </p>
                <p>"{{result}}"</p>
            {% endif %}
            <h2>
                {% for letter in indice %}                
                    {% if letter != "_" %}
                        <span class="indice white">{{ letter }}</span>
                    {% else %}
                        <span class="indice">{{ letter }}</span>
                    {% endif %}
                {% endfor %}
                <!-- {% for letter in word_to_guess %}
                   <span class="letter space">{{ letter }}</span>
                {% endfor %} -->
            </h2>
            <br>
        </div>
        <div class="box letter">
            <form action="/play" method="post">
                <button type="submit" name="playerguess" value="a">A</button>
                <button type="submit" name="playerguess" value="b">B</button>
                <button type="submit" name="playerguess" value="c">C</button>
                <button type="submit" name="playerguess" value="d">D</button>
                <button type="submit" name="playerguess" value="e">E</button>
                <button type="submit" name="playerguess" value="f">F</button>
                <br>
                <button type="submit" name="playerguess" value="g">G</button>
                <button type="submit" name="playerguess" value="h">H</button>
                <button type="submit" name="playerguess" value="i">I</button>
                <button type="submit" name="playerguess" value="j">J</button>
                <button type="submit" name="playerguess" value="k">K</button>
                <button type="submit" name="playerguess" value="l">L</button>
                <br>
                <button type="submit" name="playerguess" value="m">M</button>
                <button type="submit" name="playerguess" value="n">N</button>
                <button type="submit" name="playerguess" value="o">O</button>
                <button type="submit" name="playerguess" value="p">P</button>
                <button type="submit" name="playerguess" value="q">Q</button>
                <button type="submit" name="playerguess" value="r">R</button>
                <br>
                <button type="submit" name="playerguess" value="s">S</button>
                <button type="submit" name="playerguess" value="t">T</button>
                <button type="submit" name="playerguess" value="u">U</button>
                <button type="submit" name="playerguess" value="v">V</button>
                <button type="submit" name="playerguess" value="w">W</button>
                <button type="submit" name="playerguess" value="x">X</button>
                <br>
                <button type="submit" name="playerguess" value="y">Y</button>
                <button type="submit" name="playerguess" value="z">Z</button>
                <br>
            </form>
        </div>
        <br>        
        <div class="box menu align">
            <form action="/play" method="post"><button type="submit" name = "replay">Rejouer</button></form>
            <form action="/" method=""><button type="submit">Acceuil</button></form>
        </div>
    </main>
{% endblock %}