{% extends 'layout.html' %}

{% block title %}Joue{% endblock %}

{% block content %}
    <br>    
    <main class="wrapper">
        <h1>Jeu du Pendu</h1>
        <div class="align">
        </div>
        <br>    
        <div>
            {% if lifepoint == 5 %}
                <img class="pendu" src="/static/images/5lp.png">
            {% elif lifepoint == 4 %}
                <img class="pendu" src="/static/images/4lp.png">
            {% elif lifepoint == 3 %}
                <img class="pendu" src="/static/images/3lp.png">
            {% elif lifepoint == 2 %}
                <img class="pendu" src="/static/images/2lp.jpg">
            {% elif lifepoint == 1 %}
                <img class="pendu" src="/static/images/1lp.png">
            {% endif %}
        </div>
        <span class="life">
                Il vous reste encore <span class="red big">{{lifepoint}}</span> vies
        </span>
        <div>
            <br>
            {% if result == "OUI !" %}
                <p class="green big">{{result}}</p>
            {% elif result == "NON !" %}
                <p class="red big">{{result}}</p>            
            {% elif result == "Vous avez déjà trouvé cette lettre !" %}
                <p>{{result}}</p>            
            {% else %}
                <p>Instructions : </p>
                <p>"{{result}}"</p>
            {% endif %}
            <h2>
                {% for letter in indice %}                
                    {% if letter != "_" %}
                        <span class="indice white">{{ letter }}</span>
                    {% else %}
                        <span class="indice">{{ letter }}</span>
                    {% endif %}
                {% endfor %}
            </h2>
            <br>
        </div>
        <div class="box letter">
            <form action="/play" method="post">
                {% for letter in "abcdefghijklmnopqrstuvwxyz"%}
                    <button type="submit" name="playerguess" value="{{letter}}">{{letter.upper()}}</button>
                    {% if loop.index % 6 == 0 %}
                        <br>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
        <br>
    </main>
{% endblock %}